body {
  background:lightgray;
}
p {
  color: black;
  font-family:cursive;
  text-align:center;
  
}
h1 {
  color: darkorange;
  font-weight: bold;
  font-family: cursive;
  font-size: 35px;
  border: dotted;
  text-align: center;
}
h2 {
  color:darkorange;
  text-align: center;
}

img{ 
  width: 250px;
  border-style: dotted;
  float: right;
  border-width: thick;
  border-radius: 25px;
  margin:25px
}
lu{
  margin: 20px;
